.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') iLoveMyCity!
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/berlin') Berlin
            li
              a(href='/paris') Paris
            li
              a(href='/madrid') Madrid
            li
              a(href='/london') London
            li
              a(href='/newyork') New York
